<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Matt Goatcher</string>
	<key>Builder Version</key>
	<string>7534.57.2</string>
	<key>CFBundleDisplayName</key>
	<string>QuickLook Photo Gallery</string>
	<key>CFBundleIdentifier</key>
	<string>com.qlphotogallery.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>togglePreview</string>
				<key>Identifier</key>
				<string>gallery</string>
				<key>Image</key>
				<string>images/icon.png</string>
				<key>Label</key>
				<string>Gallery</string>
				<key>Tool Tip</key>
				<string>Display Gallery</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>scripts/jquery.js</string>
				<string>scripts/injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Displays a quick-look style preview of all images on the page.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://s3.amazonaws.com/qlphotogallery/download/update-manifest.plist</string>
	<key>Website</key>
	<string>http://www.qlphotogallery.com</string>
</dict>
</plist>
